{% extends "blog/base.html" %}

{% block content %}
	<h1>About this Blog</h1>
	
		<p>Blog created by following Corey Schafer's YouTube Django Tutorial Series, an extremely useful series where I learned about:</p>
			
		<ul>
			<li>User registration</li>
	 		<li>Login and logout</li>
	 		<li>User profiles</li>
	 		<li>Using pagination for site organization</li>
	 		<li>Implementing a reset password feature</li>
	 		<li>Deploying a Django Application to a Linux server</li>
	 		<li>and more</li>
	 	</ul>
	 	
		<br><a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">Link to Corey's Django Tutorial series</a>
		
	
{% endblock content %}